 

.services{
    
        /* display: flex; */
        height: 400vh;
        /* align-items: center; */
        /* justify-content: center; */
        font-size: 1rem;
        background-color: rgb(0,0,50,0.9);
        color: #fff;
      
}

.services-page-info{
    margin-left:210px;
    padding-top:80px;
    margin-right:110px;
}
.image{
    width:900px;
    /* height:900px; */
}



.service1:hover{
cursor: pointer;
}

.sevisi{
 display: grid;
}

.sliding-pics{
    width: 400px;
}



@media screen and (max-width:780px) {
    .services{
    
        /* display: flex; */
        height: 450vh;
        /* align-items: center; */
        /* justify-content: center; */
        font-size: 1rem;
        background-color: rgb(0,0,50,0.9);
        color: #fff;
      
    }

    .services-page-info{
        margin-left:0px;
        padding-top:0px;
        margin-right:0px;
    }

    .first-part{
        height:300px;
     background:no-repeat url("../../assets/electrical-services-IMG/electrician-pic.jpg");
    background-size: cover;
     
    }
    .first-part h1 {
        background-color: rgba(64, 47, 161, 0.8);
        padding-top: 90px;
    }


.image{
    display:none;
}

.service-imgs{
    display:none;
}
}




@media screen and (max-width:900px){
    .services{
       padding-left:12px;
    }
    .services-page-info{
        margin-left:25px;
        padding-top:30px;
        margin-right:25px;
    }
    .first-part{
        height:300px;
     background:no-repeat url("../../assets/electrical-services-IMG/electrician-pic.jpg");
    background-size: cover;
     
    }
    .first-part h1 {
      text-align: center;
      font-size:30px;
      background-color: rgba(64, 47, 161, 0.8);
      padding-top: 70px;
    }
   
.image{
   display:none;
}

.services{
    
    /* display: flex; */
    height: 500vh;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 1rem;
    background-color: rgb(0,0,50,0.9);
    color: #fff;
  
}

}


@media screen and (max-width:1060px){
    .services-page-info{
        margin-left:25px;
        padding-top:30px;
        margin-right:25px;
    }
    .services{
    
        /* display: flex; */
        height: 550vh;
        /* align-items: center; */
        /* justify-content: center; */
        font-size: 1rem;
        background-color: rgb(0,0,50,0.9);
        color: #fff;
      
    }
}